/* Items */
/* Category: 1 - Subcategory: 1 */

#fdItems ul[data-category="1"][data-subcategory="1"] li[data-number="1"] {
	background-image: url("../images/facedesigner/icons/m/head/shape/1.gif");
}
#fdItems ul[data-category="1"][data-subcategory="1"] li[data-number="2"] {
	background-image: url("../images/facedesigner/icons/m/head/shape/2.gif");
}
#fdItems ul[data-category="1"][data-subcategory="1"] li[data-number="3"] {
	background-image: url("../images/facedesigner/icons/m/head/shape/3.gif");
}
#fdItems ul[data-category="1"][data-subcategory="1"] li[data-number="4"] {
	background-image: url("../images/facedesigner/icons/m/head/shape/4.gif");
}

/* Category: 1 - Subcategory: 2 */

#fdItems ul[data-category="1"][data-subcategory="2"] li[data-number="1"] {
	background-image: url("../images/facedesigner/icons/m/head/ears/1.gif");
}
#fdItems ul[data-category="1"][data-subcategory="2"] li[data-number="2"] {
	background-image: url("../images/facedesigner/icons/m/head/ears/2.gif");
}
#fdItems ul[data-category="1"][data-subcategory="2"] li[data-number="3"] {
	background-image: url("../images/facedesigner/icons/m/head/ears/3.gif");
}
#fdItems ul[data-category="1"][data-subcategory="2"] li[data-number="4"] {
	background-image: url("../images/facedesigner/icons/m/head/ears/4.gif");
}

/* Category: 1 - Subcategory: 3 */

#fdItems ul[data-category="1"][data-subcategory="3"] li[data-number="1"] {
	background-image: url("../images/facedesigner/icons/m/head/eyes/1.gif");
}
#fdItems ul[data-category="1"][data-subcategory="3"] li[data-number="2"] {
	background-image: url("../images/facedesigner/icons/m/head/eyes/2.gif");
}

/* Category: 5 - Subcategory: 1 */

#fdItems ul[data-category="5"][data-subcategory="1"] li[data-number="1"] {
	background-image: url("../images/facedesigner/icons/m/backgrounds/filled/1.gif");
}
#fdItems ul[data-category="5"][data-subcategory="1"] li[data-number="2"] {
	background-image: url("../images/facedesigner/icons/m/backgrounds/filled/2.gif");
}
#fdItems ul[data-category="5"][data-subcategory="1"] li[data-number="3"] {
	background-image: url("../images/facedesigner/icons/m/backgrounds/filled/3.gif");
}
#fdItems ul[data-category="5"][data-subcategory="1"] li[data-number="4"] {
	background-image: url("../images/facedesigner/icons/m/backgrounds/filled/4.gif");
}
#fdItems ul[data-category="5"][data-subcategory="1"] li[data-number="5"] {
	background-image: url("../images/facedesigner/icons/m/backgrounds/filled/5.gif");
}
#fdItems ul[data-category="5"][data-subcategory="1"] li[data-number="6"] {
	background-image: url("../images/facedesigner/icons/m/backgrounds/filled/6.gif");
}
#fdItems ul[data-category="5"][data-subcategory="1"] li[data-number="7"] {
	background-image: url("../images/facedesigner/icons/m/backgrounds/filled/7.gif");
}
#fdItems ul[data-category="5"][data-subcategory="1"] li[data-number="8"] {
	background-image: url("../images/facedesigner/icons/m/backgrounds/filled/8.gif");
}
#fdItems ul[data-category="5"][data-subcategory="1"] li[data-number="9"] {
	background-image: url("../images/facedesigner/icons/m/backgrounds/filled/9.gif");
}
#fdItems ul[data-category="5"][data-subcategory="1"] li[data-number="10"] {
	background-image: url("../images/facedesigner/icons/m/backgrounds/filled/10.gif");
}
#fdItems ul[data-category="5"][data-subcategory="1"] li[data-number="11"] {
	background-image: url("../images/facedesigner/icons/m/backgrounds/filled/11.gif");
}
#fdItems ul[data-category="5"][data-subcategory="1"] li[data-number="12"] {
	background-image: url("../images/facedesigner/icons/m/backgrounds/filled/12.gif");
}
#fdItems ul[data-category="5"][data-subcategory="1"] li[data-number="13"] {
	background-image: url("../images/facedesigner/icons/m/backgrounds/filled/13.gif");
}
#fdItems ul[data-category="5"][data-subcategory="1"] li[data-number="14"] {
	background-image: url("../images/facedesigner/icons/m/backgrounds/filled/14.gif");
}
#fdItems ul[data-category="5"][data-subcategory="1"] li[data-number="15"] {
	background-image: url("../images/facedesigner/icons/m/backgrounds/filled/15.gif");
}
#fdItems ul[data-category="5"][data-subcategory="1"] li[data-number="16"] {
	background-image: url("../images/facedesigner/icons/m/backgrounds/filled/16.gif");
}
#fdItems ul[data-category="5"][data-subcategory="1"] li[data-number="17"] {
	background-image: url("../images/facedesigner/icons/m/backgrounds/filled/17.gif");
}
#fdItems ul[data-category="5"][data-subcategory="1"] li[data-number="18"] {
	background-image: url("../images/facedesigner/icons/m/backgrounds/filled/18.gif");
}
#fdItems ul[data-category="5"][data-subcategory="1"] li[data-number="19"] {
	background-image: url("../images/facedesigner/icons/m/backgrounds/filled/19.gif");
}
#fdItems ul[data-category="5"][data-subcategory="1"] li[data-number="20"] {
	background-image: url("../images/facedesigner/icons/m/backgrounds/filled/20.gif");
}
#fdItems ul[data-category="5"][data-subcategory="1"] li[data-number="21"] {
	background-image: url("../images/facedesigner/icons/m/backgrounds/filled/21.gif");
}
#fdItems ul[data-category="5"][data-subcategory="1"] li[data-number="22"] {
	background-image: url("../images/facedesigner/icons/m/backgrounds/filled/22.gif");
}
#fdItems ul[data-category="5"][data-subcategory="1"] li[data-number="23"] {
	background-image: url("../images/facedesigner/icons/m/backgrounds/filled/23.gif");
}
#fdItems ul[data-category="5"][data-subcategory="1"] li[data-number="24"] {
	background-image: url("../images/facedesigner/icons/m/backgrounds/filled/24.gif");
}

/* Colors */
/* Set: 1 [skin] */

#fdColorBox ul[data-set="1"] li[data-number="1"] {
    background-image: url("../images/facedesigner/icons/colors/skin/1.png");
}

/* Set: 3 [eye] */

#fdColorBox ul[data-set="3"] li[data-number="1"] {
    background-image: url("../images/facedesigner/icons/colors/eye/1.png");
}